// font
$fontMain: 'Gilroy', Helvetica, Arial, sans-serif
$fontInfo: 'PT Sans', Helvetica, Arial, sans-serif

// size
$desktopWidth: 1280px
$smDesktopWidth: 1024px
$tableWidth: 992px
$smTableWidth: 768px
$phoneWidth: 544px
$smPhoneWidth: 320px

// color
$active-color: #be1522
$text-color_dark: #000
$text-color: #373737
$text-color_light: #fff
$text-color_light2: #cbcbcb
$bg-color_dark: #141414
$bg-color_light: #fff
$color-decoration: rgba(#232222, 0.2)