.footer
  position: relative
  padding: 50px 0
  // font-family: $fontInfo
  font-size: 16px
  line-height: 24px
  color: $text-color_light
  background-color: $bg-color_dark
  &__top 
  &__logo 
    width: 100%
    margin-bottom: 20px
    img 
      width: 100% 
  &__info 
    &-main 
      // max-width: 270px
      margin: 0 auto 30px
      text-align: center
      span 
        font-weight: 700
    &-dop 
      // width: 270px
      margin: 0 auto 30px
      text-align: center 
  &-contacts
    // width: 270px
    margin: 0 auto 30px
    text-align: center
    &__name 
      font-weight: 700
    &__link 
      white-space: nowrap
      color: inherit 
    .social 
      margin-top: 30px
  &-menu 
    display: none
    &__item 
      display: block
      font-size: 18px
      color: inherit
      &:not(:last-child)
        margin-bottom: 15px
