.news
  &__blocks 
    margin-bottom: 40px 
    max-height: calc(100% - 120px)  
    overflow-y: auto
    @media (min-width: $tableWidth)
      .btn_more 
        display: none
  &__link 
    display: block
    color: $text-color 
    transition: color $time
    &:not(:last-child)
      margin-bottom: 20px
    &:not(:first-child):not(:nth-child(2)):not(:nth-child(3))
      display: none
    @media (min-width: $tableWidth)
      &:hover 
        cursor: pointer
        color: $active-color
      &:not(:first-child):not(:nth-child(2)):not(:nth-child(3))
        display: block
  &__item 
    margin-right: 15px
    font-size: 14px
    font-weight: 500 
  &__date 
    margin-bottom: 10px
    display: block
    font-weight: 700
    color: $text-color_dark
    span 
      font-weight: 500
      color: $text-color_light2 
  &__title 
    margin: 0
    font-weight: 500
    line-height: 20px